.footer{
  background: black;
  bottom: 0;
  box-shadow: 0 0 1rem rgba(#0004fa, 0.2);
  left: 0;
  position: fixed;
  right: 0;
  padding:15px 210px 21px;
  color:#fff;
  display: flex;
  justify-content: space-between;
};
.p{
 margin-right: 4px;
}